<%- include('../partials/header'); %>

    <main class="main main-home container text-center">
        <h2 class="home-header">
            welcome to the resource page for everything coding!
        </h2>
    </main>

<%- include('../partials/footer'); %>